body{
    background-color: darkslateblue;
    color: white;
    margin: 200px auto;
}
.first{
    background-color: white;
    width: 5%;
    height: 50px;
    border-radius: 5px;
}
.second{
    background-color:pink ;
    width:5%;
    height: 50px;
    border-radius: 5px;
}
.Third{
    background-color:green;
    width: 5%;
    height: 50px;
    border-radius: 5px;
}