body{
    background-color: darkslateblue;
    color: white;
    margin-top: 100px;
}
.first{
    background-color:blue;
    width: 20%;
    height: 50px;
    border-radius: 10px;
    margin-left: 500px;
}
.second{
    background-color:pink ;
    width:20%;
    height: 50px;
    border-radius: 10px;
    margin-left: 500px;
}
.Third{
    background-color:green;
    width: 20%;
    height: 50px;
    border-radius: 10px;
    margin-left: 500px;
}