body{
    background-color: darkslateblue;
    color: white;
    margin-top: 100px;
}
.first{
    background-color:rgb(38, 199, 17);
    width: 20%;
    height: 50px;
    border-radius: 10px;
    margin-left: 500px;
}
.second{
    background-color:rgb(235, 10, 10) ;
    width:20%;
    height: 50px;
    border-radius: 10px;
    margin-left: 500px;
}
.Third{
    background-color:yellow;
    width: 20%;
    height: 50px;
    border-radius: 10px;
    margin-left: 500px;
}